### Summary
This notebook will plot lat/lon coordinates of Boston area establishments with a liquor license.


### Notebook output
All plots saved from this notebook will be located at `../figures/liquor/`

In [14]:
import itertools
import os
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
%matplotlib inline

In [15]:
DATA_ROOT = '../data/'
DATA_DIR = os.path.join(DATA_ROOT, 'processed')
readfile_liquor = os.path.join(DATA_DIR, 'liquor_processed.csv')

In [16]:
df_liquor_eda = pd.read_csv(readfile_liquor)
df_liquor_eda.head(3)

,Unnamed: 0,LICENSENO,LICSTATUS,LICCAT,LICCATDESC,Address_Complete,Location_Complete
0,0,LB-101572,Active,GOPAL,GOP All Alc.,Central Wharf Boston MA,"(42.35909945, -71.0495668203563)"
1,1,LB-101576,Active,GOPAL,GOP All Alc.,Boylston PL Boston MA,"(42.316157, -71.102592)"
2,2,LB-101577,Active,GOPAL,GOP All Alc.,State ST Boston MA,"(42.3588444, -71.0572152)"

In [22]:
#Format Location_Complete to separate lat/lon columns
coordinates_format = df_liquor_eda['Location_Complete'].str.strip('()')               \
                   .str.split(', ', expand=True)                \
                   .rename(columns={0:'Latitude', 1:'Longitude'})

In [30]:
df_liquor_eda['Latitude'] = coordinates_format['Latitude']
df_liquor_eda['Longitude'] = coordinates_format['Longitude']

df_liquor_eda['Latitude'] = df_liquor_eda['Latitude'].astype(float)
df_liquor_eda['Longitude'] = df_liquor_eda['Longitude'].astype(float)

df_liquor_eda.head(3)

,Unnamed: 0,LICENSENO,LICSTATUS,LICCAT,LICCATDESC,Address_Complete,Location_Complete,Latitude,Longitude
0,0,LB-101572,Active,GOPAL,GOP All Alc.,Central Wharf Boston MA,"(42.35909945, -71.0495668203563)",42.359099,-71.049567
1,1,LB-101576,Active,GOPAL,GOP All Alc.,Boylston PL Boston MA,"(42.316157, -71.102592)",42.316157,-71.102592
2,2,LB-101577,Active,GOPAL,GOP All Alc.,State ST Boston MA,"(42.3588444, -71.0572152)",42.358844,-71.057215