In [37]:
import urllib
import os
import operator
import pathlib
import requests
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
%matplotlib inline

In [38]:
df_age = pd.read_excel('../data/raw/boston/neighborhood-demographics-2013-2017-acs.xlsx', sheet_name='Age', skiprows=2)

In [39]:
#df_age.drop(df_age.index[2])
#df_age.head(4)

#df_age.head(3)
#df_age.rename(index={0: "Location", 1: "Total-Population", 2: "Median-Age", 3: "0:9-Years", 4: "0:9-Percentage", 5:"10:19-Years",
#                    6:"10:19-Percentage", 7:"20:34-Years", 8: "20:34-Years", 9: "35:54-Years", 10:"35:54-Percentage", 11:"55:64-Years",
#                    12:"55:64-Years", 13:"65+", 14:"65+%"})
df_age.head(3)

,Unnamed: 0,Total Population,Median Age,0-9 years,%,10-19 years,%.1,20-34 years,%.2,35-54 years,%.3,55-64 years,%.4,65 years and over,%.5
0,United States,321004407.0,38.0,40298637.0,0.125539,41932161.0,0.130628,66546138.0,0.207306,83747562.0,0.260892,40747520.0,0.126938,47732389.0,0.148697
1,Massachusetts,6789319.0,39.0,734048.0,0.108118,858569.0,0.126459,1437244.0,0.211692,1807990.0,0.266299,901717.0,0.132814,1049751.0,0.154618
2,Boston,669158.0,32.0,63428.0,0.094788,76451.0,0.114250,231255.0,0.345591,157768.0,0.235771,66662.0,0.099621,73594.0,0.109980

In [20]:
1+2

3

In [43]:
#df_age.rename(index={0: "Location", 1: "Total-Population", 2: "Median-Age", 3: "0:9-Years", 4: "0:9-Percentage", 5:"10:19-Years",
#                    6:"10:19-Percentage", 7:"20:34-Years", 8: "20:34-Years", 9: "35:54-Years", 10:"35:54-Percentage", 11:"55:64-Years",
#                    12:"55:64-Years", 13:"65+", 14:"65+%"})



df_age.rename(columns={"":'Location',
                              'Total Population':'Total-Population',
                              'Median Age':'Median-Age',
                              '0-9 years':'0:9-Years',
                              '%':'0:9-Percentage'
                             
                             
                        
                             }, 
                     inplace=True)

In [44]:
df_age.head(3)

,Unnamed: 0,Total-Population,Median-Age,0:9-Years,0:9-Percentage,10-19 years,%.1,20-34 years,%.2,35-54 years,%.3,55-64 years,%.4,65 years and over,%.5
0,United States,321004407.0,38.0,40298637.0,0.125539,41932161.0,0.130628,66546138.0,0.207306,83747562.0,0.260892,40747520.0,0.126938,47732389.0,0.148697
1,Massachusetts,6789319.0,39.0,734048.0,0.108118,858569.0,0.126459,1437244.0,0.211692,1807990.0,0.266299,901717.0,0.132814,1049751.0,0.154618
2,Boston,669158.0,32.0,63428.0,0.094788,76451.0,0.114250,231255.0,0.345591,157768.0,0.235771,66662.0,0.099621,73594.0,0.109980